html {
    color-scheme: dark light;
}

html,
body,
input {
    font-family: "Work Sans", sans-serif;
    margin: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 28px;
}

a[href] {
    text-decoration: none;
}

textarea {
    font-family: "Space Mono", monospace;
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    resize: vertical;
}

input {
    width: 100%;
}

button {
    appearance: none;
    border: none;
    font-weight: bold;
}

button:not([disabled]) {
    cursor: pointer;
}

button:not([disabled]),
#step-final a {
    opacity: 0.9;
    transition: 0.3s opacity ease;
}

button:hover,
#step-final a:hover {
    opacity: 1;
}

button[disabled] {
    cursor: not-allowed;
}

button.button-pill {
    width: 100%;
    height: 3em;
    border-radius: 10px;
    color: #fff;
    background: #2e4dee;
}

button.button-pill[disabled] {
    color: #eee;
    background: #999;
}

button.button-inline {
    color: #2e4dee;
    background: none;
}

button.button-inline[disabled] {
    color: #999;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

dialog {
    position: fixed;
    inset: 0;
    width: 400px;
    padding: 16px;
    border-radius: 10px;
}

a > .fa-solid,
button.button-pill > .fa-solid,
button.button-inline > .fa-solid {
    margin-right: 6px;
}

.container {
    max-width: 500px;
    margin-inline: auto;
    padding: 16px;
}

.step-container {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 16px;
}

.step-container#step-final {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-style: solid;
    border-color: #5069f1;
}

#error-container {
    background-color: #ffd4d4;
    border-color: #ff8585;
    border-style: solid;
    margin-bottom: 22px;
}

#error-container h2 {
    font-size: 1rem;
    margin: 0 0 10px 0;
}

#error-container p {
    margin: 0;
}

#download {
    color: #2e4dee;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
}

.modal-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

.modal-controls label {
    margin-bottom: 0;
}

.modal-controls #close-modal {
    background: none;
}

footer {
    margin-block: 32px;
    font-size: 14px;
    line-height: 1.6;
}

footer p {
    opacity: 0.3;
}

footer a {
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    button.button-pill[disabled] {
        color: #777;
        background: #222;
    }
    
    .step-container {
        border-color: #555;
    }
    
    #error-container {
        background-color: #662525;
        border-color: #a64040;
    }
}